.course-card {
  list-style-type: none;
  width: 270px;
  height: 130px;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 30px;
}

.course-logo {
  height: 70px;
  width: 70px;
  background-size: cover;
  margin-right: 10px;
}

.course-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}

.course-link {
  text-decoration: none;
}
